{% extends 'base.html' %}
{% block content %}


<div>
    <div class="container has-text-centered" style="margin-top: 20px;">
        <a href="/create" class="button is-primary is-medium">
            <span class="icon">
                <i class="fas fa-user-plus"></i>
            </span>
            <span>Agregar Nuevo Alumno/Alumna</span>
        </a>
    </div>
</div>
<div class="container" style="margin-top: 20px;">
    <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Correo Electrónico</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for estudiante in estudiantes %}
            <tr>
                <td>{{ estudiante.id }}</td>
                <td>{{ estudiante.nombre }}</td>
                <td>{{ estudiante.apellido}}</td>
                <td>{{ estudiante.email }}</td>
                <td>{{ estudiante.telefono }}</td>
                <td>
                    <a href="{{ url_for('edit', id=estudiante.id) }}" class="button is-info">
                        <span>Editar</span>
                    </a>
                    <a href="{{ url_for('delete', id=estudiante.id) }}" class="button is-danger" >
                        <span>Eliminar</span>
                    </a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



{% endblock %}